<h2>Instruments</h2>

<form>
  <Input @value={{this.instrumentLabel}} placeholder="Trompet" />
  <Input @value={{this.instrumentPosition}} type="number" />
  <button type="submit" {{on "click" (perform this.addInstrument)}}>Toevoegen</button>
</form>

<ul>
{{#each this.model as |instrument|}}
  <li>{{instrument.label}}</li>
{{/each}}
</ul>

{{outlet}}