<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="instrument-part-select">
  {{this.label}}
</label>
{{#if @allowCreate}}
  <PowerSelectWithCreate
    @options={{this.sortedOptions}}
    @selected={{@value}}
    @onChange={{@onChange}}
    @onCreate={{perform this.createNew}}
    as |part|>
    {{part.label}}
  </PowerSelectWithCreate>
{{else}}
  <PowerSelect
    @options={{this.sortedOptions}}
    @selected={{@value}}
    @onChange={{@onChange}}
    as |part|>
    {{part.label}}
  </PowerSelect>
{{/if}}