<div class="bg-white shadow overflow-hidden sm:rounded-lg my-8">
  <div draggable="true" class="px-4 py-5 border-b border-gray-200 sm:px-6 flex items-center justify-between">
    <div class="flex-shrink-0 mr-3">
      <svg viewBox="0 0 20 20" class="h-4 w-4 fill-current text-gray-500">
        <path d="M0,3 L20,3 L20,5 L0,5 L0,3 Z M0,7 L20,7 L20,9 L0,9 L0,7 Z M0,11 L20,11 L20,13 L0,13 L0,11 Z M0,15 L20,15 L20,17 L0,17 L0,15 Z"></path>
      </svg>
    </div>
    <h3 class="w-0 flex-1 text-lg leading-6 font-medium text-gray-900 uppercase">
      {{@model.label}}
    </h3>
  </div>
  <div class="dragSortList-parts border border-gray-200">
    {{#if this.templates}}
      <DragSortList
        @items={{this.templates}}
        @dragEndAction={{perform this.sortTemplates}}
        @group={{@model.label}}
        @draggingEnabled={{this.hasMultipleItems}}
        @tagName={{"ul"}} @childTagName={{"li"}} as |template|>
        <div class="border-t border-gray-200 text-base leading-5">
          <div class="pl-4 pr-4 py-3 flex items-center justify-between">
            <div class="w-0 flex-1">
              <span>{{template.instrumentPart.label}}</span>
              <span class="ml-4 text-gray-500">Solsleutel</span>
              <span class="ml-4 text-gray-500">Bb</span>
            </div>
            {{#if this.hasMultipleItems}}
              <div class="flex-shrink-0">
                <svg viewBox="0 0 20 20" class="h-4 w-4 fill-current text-gray-500">
                  <path d="M0,3 L20,3 L20,5 L0,5 L0,3 Z M0,7 L20,7 L20,9 L0,9 L0,7 Z M0,11 L20,11 L20,13 L0,13 L0,11 Z M0,15 L20,15 L20,17 L0,17 L0,15 Z"></path>
                </svg>
              </div>
            {{/if}}
          </div>
        </div>
      </DragSortList>
    {{else}}
      <div class="border-t border-gray-200 pl-4 pr-4 py-6 text-base leading-5">
        <div class="text-gray-500 text-center">Nog geen stemmen toegevoegd</div>
      </div>
    {{/if}}
  </div>
  {{#if this.showCreateForm}}
    <div class="border-t border-gray-200 pl-3 pr-4 py-6">
      <ScorePartTemplate::New @instrument={{@model}} @onSave={{this.addNewTemplate}} />
    </div>
  {{else}}
    <div class="border-t border-gray-200 pl-3 pr-4 py-6 text-right">
      <button type="button" {{on "click" (fn (mut this.showCreateForm) true)}} class="flex-shrink-0 mx-4 px-4 py-2 border border-purple-600 text-sm leading-5 font-medium rounded-md text-purple-600 bg-white hover:border-purple-500 hover:text-purple-500 focus:outline-none focus:border-purple-700 focus:text-purple-700 active:bg-purple-200 transition duration-150 ease-in-out">
        Nieuwe stem
      </button>
    </div>
  {{/if}}
</div>
{{yield}}