<div class="bg-white shadow overflow-hidden sm:rounded-lg my-8">
  <div class="px-4 py-5 border-b border-gray-200 sm:px-6 flex items-center justify-between">
    <h3 class="w-0 flex-1 text-lg leading-6 font-medium text-gray-900 uppercase">
      {{@model.label}}
    </h3>
    <div class="flex-shrink-0">
      drag
    </div>
  </div>
  <div class="dragSortList-parts border border-gray-200">
    {{#if this.templates}}
      <DragSortList
        @items={{this.templates}}
        @dragEndAction={{perform this.sortTemplates}}
        @group={{@model.label}}
        @draggingEnabled={{this.hasMultipleItems}}
        @tagName={{"ul"}} @childTagName={{"li"}} as |template|>
        <div class="border-t border-gray-200 text-base leading-5">
          <div class="pl-4 pr-4 py-3 flex items-center justify-between">
            <div class="w-0 flex-1">
              <span>{{template.instrumentPart.label}}</span>
              <span class="ml-4 text-gray-500">Solsleutel</span>
              <span class="ml-4 text-gray-500">Bb</span>
            </div>
            {{#if this.hasMultipleItems}}
              <div class="flex-shrink-0">
                <svg viewBox="0 0 20 20" class="h-4 w-4 fill-current text-gray-500">
                  <path d="M0,3 L20,3 L20,5 L0,5 L0,3 Z M0,7 L20,7 L20,9 L0,9 L0,7 Z M0,11 L20,11 L20,13 L0,13 L0,11 Z M0,15 L20,15 L20,17 L0,17 L0,15 Z"></path>
						    </svg>
              </div>
            {{/if}}
          </div>
        </div>
      </DragSortList>
    {{else}}
      <div class="border-t border-gray-200 pl-4 pr-4 py-6 text-base leading-5">
        <div class="text-gray-500 text-center">Nog geen stemmen toegevoegd</div>
      </div>
    {{/if}}
  </div>
  <div class="border-t border-gray-200 pl-3 pr-4 py-6">
    <form class="w-full max-w-4xl">
      <div class="flex flex-wrap">
        <div class="w-full md:w-2/5 mb-6 md:mb-0">
          <Form::InstrumentPartSelect
            @value={{this.part}}
            @onChange={{this.selectInstrumentPart}}
            @instrument={{@model}}
            @allowCreate={{true}}
          />
        </div>
        <div class="w-full md:w-2/5 mb-6 md:mb-0 flex flex-wrap -mx-3 md:ml-3">
          <div class="w-1/2 px-3">
            <Input @value={{this.clef}} placeholder="Sleutel"
              class="px-4 py-2 w-full bg-gray-200 appearance-none rounded text-gray-700 focus:outline-none focus:bg-white focus:border-b-purple-500" />
          </div>
          <div class="w-1/2 px-3">
            <Input @value={{this.key}} placeholder="Toonaard"
              class="px-4 py-2 w-full bg-gray-200 appearance-none rounded text-gray-700 focus:outline-none focus:bg-white focus:border-b-purple-500" />
          </div>
        </div>
        <button type="button" {{on "click" (perform this.addPartTemplate)}} class="md:ml-6 px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:shadow-outline-purple focus:border-purple-700 active:bg-purple-700 transition duration-150 ease-in-out">
          Toevoegen
        </button>
      </div>
    </form>
  </div>
</div>
{{yield}}